:root {
    --background-color: #FFF3D6;
    --panel-color: #F8F2F2;
    --primary-color: #FCBA04;
}

body {
    background-color: var();
    color: var();
    font-family: 'Roboto';
    margin: 0;
}
