:root {
    --c1: #848C8E;
    --c2: #435058;
    --c3: #DCF763;
    --c4: #BFB7B6;
    --c5: #F1F2EE;
}

body {
    background-color: var(--c2);
    color: var(--c5);
    font-family: 'Roboto';
    margin: 0;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
}

.section {
    padding: 5px;
}

.result-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    text-align: center;
    padding: 5px 0 10px 0;
}

.price {
    color: var(--c3);
    text-align: center;
    font-size: 40px;
}

.page-layout {
    display: grid;
    gap: 10px;
}

@media screen and (min-width: 950px) {
    .page-layout {
        padding: 50px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .page-layout {
        padding: 50px 20% 0px 25%;
    }
}

.qr-code-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 0;
    padding: 75px;
}

.qr-code-wrapper > svg {
    max-height: 300px;
}

.swish-svg {
    position: absolute;
    top: 0;
    margin: -12px 0;
    height: 100px;

}

.input-cards-layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-card {
    border: 2px solid var(--c1);
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 8px 6px -6px var(--c1);
}

.input-card-layout {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px 25px;
}

.input-card-icon {
    color: var(--c3);
    border: 4px solid var(--c1);
    border-radius: 50%;
    padding: 10px;
}

.input-card-text {
    flex: 2;
    min-width: 30ch;
}


.input-card-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.input-card-subtitle {
    color: var(--c4);
}

.input-card-input-style {
    color: var(--c3);
    flex: 1;
    border: 2px solid var(--c1);
    border-radius: 20px;
    padding: 5px 10px;
}

.icon-text-align {
    display: flex;
    align-items: flex-end;
}

.input-card-input-text-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.number-input-wrapper {
    display: flex;
    align-items: baseline;
}

.number-input {
    font-size: 24px;
}

.number-input-icon {
    line-height: 0.9;
}

.number-input-icons-wrapper{
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.align-self-center {
    align-self: center;
}

.hidden {
    display: none;
}
